hf/
.ollama/
*_env/
met_env/
cot_env/
*.mp4
*.pt
*.bin
*.so
*.ckpt
*.pkl
*.npy

.venv
venv
.env 
env
**/__pycache__/
**/.ipynb_checkpoints/

# Output directories
# outputs/
# SemanticResults/

data/YouCookII/raw_videos/
